body{
    background-color: whitesmoke !important;
}
.border-radius-a{
    border-radius: 6px !important;
}
.body1{
    background-color: whitesmoke !important;
}
.border2px{
    border: 2px solid lightgrey !important;
}