.bg-1{
    background-color: #B8DAFF;
}
.bg-2{
    background-color: #D6D8DB;
}
.bg-3{
    background-color: #C3E6CB;
}
.bg-4{
    background-color: #BEE5EB;
}
.bg-5{
    background-color: #FFEEBA;
}
.bg-6{
    background-color: #F5C6CB;
}
.bg-7{
    background-color: #DADADA;
}
.bg-8{
    background-color: #FDFDFE;
}
.bg-9{
    background-color: #C6C8CA;
}