.bg-1{
    background-color: #F2DEDF !important;
}
.bg-3{
    background-color: #F9F9F9 !important;
}
.bg-4{
    background-color: #FDF8E4 !important;
}
.bg-5{
    background-color: #D9EDF6 !important;
}